<div class="container">
<p>All Employees</p>
<p><a routerLink="/emp/create">Add New Employee</a></p>
<div class="row" *ngFor="let employee of employees" (click)="onSelection(employee)">
    <div class="col-md-2">{{employee.empId}}</div>
    <div class="col-md-2">{{employee.empName}}</div>
    <div class="col-md-2">{{employee.designation}}</div>
    <div class="col-md-2"><a routerLink="/emp/delete/{{employee.empId}}">Delete</a></div>
    <div class="col-md-2">Edit</div>
</div>

</div>

<div *ngIf="selectedEmp" class="selectedEmp">
    <app-emp-edit [employee]="selectedEmp"></app-emp-edit>
</div>
